@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-size: 0.9rem;
  line-height: 1.7;
  background-color: #fffaf4;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;

  a {
    display: block;
  }
}
.wrapper {
  padding: 0 30px;
  text-align: center;
  }

/*------------header------------*/
#header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color:#fffaf4(255,255,255,0.7);
  display: flex;
  justify-content: space-between;

  .navi-menu {
    display: flex;
    line-height: 80px;
    color: #cc7917;
    li {
      margin-left: 30px;
    }
    li:hover {
      color: #fcaf45;
      transition: 0.5s;
    }
  }

  .sp-menu{
  
    .sp-nav-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      right: -70%;
      width: 70%;
      height: 100vh;
      color: #fffaf4;
      background-color: #FCAF45;
      transition: .5s;
      padding-top: 50px;

      .menu-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 18px;

        &:hover {
          color: #cc7917;
          cursor: pointer;
          transition: .3s;
        }
      }
    }

    .open {
      position: absolute;
      right: 0;
    }
    .btn {
      position: fixed;
      top: 20px;
      right: 16px;
      width: 25px;
      height: 25px;
      z-index: 10;
    
      .btn-line {
          display: block;
          position: relative;
          width: 100%;
          height: 3px;
          background-color: #fffaf4;
          transition: .2s;
          border-radius: 4px;
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background-color: #fffaf4;
          transition: .5s;
          border-radius: 4px;
        }
        &::before {
          transform: translateY(-10px);
        }
        &::after {
          transform: translateY(10px);
        }
      }

      .btn-line.open {
        background-color: transparent;
      }
      .btn-line.open {
        &::before,
        &::after {
          content: "";
          background-color: #cc7917;
          transition: .2s;
        }
      }
      .btn-line.open {
        &::before {
          transform: rotate(45deg);
        }
      }
      .btn-line.open {
        &::after {
          transform: rotate(-45deg);
        }
      }  
    }
  }
}

.key-visual {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  

  .slider {
    img {
      width: 100%;
      height: 500px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      border-radius: 0 0 60% 60% / 80% 80% 40% 40% ;
    }  
  }
    
  .key-visual-logo {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 45px;
      color: #cc7917;
      z-index: 10;
  }
}

#works {
  margin-bottom: 100px;

  .sec-title {
    display: inline-block;
    align-items: center;
    font-size: 40px;
    color: #cc7917;
    padding-top: 50px;
    border-bottom: solid 3px #dfccbb; 
    margin-bottom: 100px;
  }
  .works-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    object-fit: contain;
    row-gap: 80px;
    column-gap: 50px;

    .works-item {
      border: 1px solid #FCAF45;
      border-radius: 20px;
      padding: 20px 10px;
      box-shadow: 10px 10px 10px 3px #e9bb70;
    }

    .btn-neumorphism {
      padding: 1rem;
      background: #fffaf4;
      border-radius: 10px;
      box-shadow: 8px 8px 15px #e9bb70, -8px -8px 15px #fffaf4;
      color: #cc7917;
      font-weight: bold;
      text-align: center;
      text-decoration: none;

      &:active {
        color: #FCAF45;
        box-shadow: inset 1px 1px 10px #e9bb70, inset -1px -1px 10px #e9bb70;
      }
    }
    
  }    
  
  .works-item {
    img {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
    
    .works-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 28px;
    }
  
  .works-content {

    .tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 30px;
      margin-top: 28px;
    }

    li {
      background: #cc7917;
      color: #fffaf4;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      padding: 7px 14px;
      margin: 0 10px 10px 0;
      border-radius: 10px;
    }
  }
}



.footer {
  width: 100%;
  height: 256px;
  background-color: #dfccbb;
  display: block;
  position: relative;
  p{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 33%;
    letter-spacing: .5em;
    font-weight: bold;
    color: #fffaf4;
  }
}

/*----------------sp----------------*/
@media screen and (max-width: 768px) {
  .navi-menu {
    li {
      display: none;
    }
  }
}

@media screen and (min-width:769px) {
  .sp-nav-menu {
    .menu-list {
      display: none;
    }
  }
  #header {
    .sp-menu {
      .btn {
        display: none;
      }
    }
  }
}