@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-size: 0.9rem;
  line-height: 1.7;
  background-color: #fffaf4;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;

  a {
    display: block;
  }
}
.wrapper {
  padding: 0 30px;
  text-align: center;
  }

/*------------header------------*/
#header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color:#fffaf4(255,255,255,0.7);
  display: flex;
  justify-content: space-between;

  .navi-menu {
    display: flex;
    line-height: 80px;
    color: #cc7917;
    li {
      margin-left: 30px;
    }
    li:hover {
      color: #fcaf45;
      transition: 0.5s;
    }
  }

  .sp-menu{
  
    .sp-nav-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      right: -70%;
      width: 70%;
      height: 100vh;
      color: #fffaf4;
      background-color: #FCAF45;
      transition: .4s;

      .menu-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &:hover {
          color: #cc7917;
          cursor: pointer;
          transition: .3s;
        }
      }
    }

  .sp-nav-menu,
  .open {
    position: absolute;
    right: 0;
  }
}

  .btn {
    position: fixed;
    top: 28px;
    right: 16px;
    width: 25px;
    height: 25px;
    z-index: 10;
  
    .btn-line {
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #fffaf4;
        transition: .2s;
        border-radius: 4px;
  
      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fffaf4;
        transition: .5s;
        border-radius: 4px;
      }
      &::before {
        transform: translateY(-12px);
      }
      &::after {
        transform: translateY(12px);
      }
    }

    .btn-line,
    .open {
      background-color: transparent;
    }
    .btn-line,
    .open {
      &::before,
      &::after {
        content: "";
        background-color: #cc7917;
        transition: .2s;
      }
    }
    .btn-line,
    .open {
      &::before {
        transform: rotate(45deg);
      }
    }
    .btn-line,
    .open {
      &::after {
        transform: rotate(-45deg);
      }
    }  
  }
}

.mainVisual {
  img {
    width: 100vw;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    border-radius: 0 0 50% 50% / 75% 75% 25% 25% ;
  }
  .mainVisual-logo {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 45px;
    color: #cc7917;
  }
}

#works {
  margin-bottom: 100px;

  .sec-title {
    display: inline-block;
    align-items: center;
    font-size: 40px;
    color: #cc7917;
    padding-top: 50px;
    border-bottom: solid 3px #dfccbb; 
    margin-bottom: 100px;
  }
  .works-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    object-fit: contain;
    row-gap: 80px;
    column-gap: 50px;
  }
  .works-item {
    img {
      margin-bottom: 40px;
    }
    
    .works-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 14px;
    }
  }
  .works-content {

    .tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 30px;
    }

    li {
      background: #cc7917;
      color: #fffaf4;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 8px 16px;
      margin: 0 10px 10px 0;
      border-radius: 10px;
    }
  }
}



.footer {
  width: 100%;
  height: 256px;
  background-color: #dfccbb;
  display: block;
  position: relative;
  p{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 33%;
    letter-spacing: .5em;
    font-weight: bold;
    color: #fffaf4;
  }
}

/*----------------sp----------------*/
@media screen and (min-width: 600px) {
  
}